<!DOCTYPE html>
<html lang="en">

<%- include('../../layouts/head.ejs') %>

<body>
  <div class="container-scroller">
    <!-- navbar -->
    <%- include('../../layouts/navbar.ejs') %>

    <div class="container-fluid page-body-wrapper">
      <!-- Flash message -->
      <%- include('../../layouts/flash.ejs') %>

      <!-- sidebar -->
      <%- include('../../layouts/sidebar.ejs') %>

      <!-- main-panel starts -->
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-info text-white me-2">
              <i class="mdi mdi-information-variant fs-3"></i>
            </span> Categories
          </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/expense/categories">Category</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
        </div>
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit Category Details</h4>
                <!-- <p class="card-description"> Edit your profile details here. </p> -->
                <form class="forms-sample" action="/admin/category/edit/<%= data?.category?._id?.toString() %>" method="post">
                  <div class="mb-3 row">
                    <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Name" name="name" value="<%= data?.category?.name || '_' %>">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Colour</label>
                    <div class="col-sm-10">
                      <select class="color-selection-edit" style="width: 100%;" name="colorId">
                        <% for(let color of data.colorList) { %>
                        <option value="<%= color?._id?.toString() %>" <% if (color?._id?.toString() === data?.category?.color?._id?.toString()) { %> selected <% } %>>
                          <%= color?.name %>
                        </option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label" for="exampleSelectIsDefault">Default</label>
                    <div class="col-sm-10">
                      <select class="form-select form-select-custom" id="exampleSelectIsDefault" name="isDefault">
                        <option value="true"<% if (data?.category?.isDefault) { %> selected <% } %>>True</option>
                        <option value="false"<% if (!data?.category?.isDefault) { %> selected <% } %>>False</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Description" name="description" value="<%= data?.category?.description || '_' %>">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-gradient-primary me-2">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->

    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- scripts -->
  <%- include('../../layouts/scripts.ejs') %>
  <script>
    (function($) {
      'use strict';
      $(document).ready(function() {
        if ($(".color-selection-edit").length) {
          $(".color-selection-edit").select2();
        }
      });
    })(jQuery);
  </script>
</body>

</html>