<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs') %>

<body>
  <div class="container-scroller">
    <!-- navbar -->
    <%- include('../layouts/navbar.ejs') %>

    <div class="container-fluid page-body-wrapper">
      <!-- Flash message -->
      <%- include('../layouts/flash.ejs') %>

      <!-- sidebar -->
      <%- include('../layouts/sidebar.ejs') %>

      <!-- main-panel starts -->
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-success text-white me-2">
              <i class="mdi mdi-account"></i>
            </span> Profile
          </h3>
          <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a href="/profile">Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
          </nav> -->
        </div>
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Profile Details</h4>
                <!-- <p class="card-description"> Edit your profile details here. </p> -->
                <form class="forms-sample" action="/admin/user/update/profile/<%= data?.user.id %>" method="post" enctype="multipart/form-data">
                  <div class="position-relative profile-image-wrapper">
                    <input type="file" class="form-control d-none" id="user-image" accept="image/*" onchange="previewImage('user-image', 'image-preview')" name="image" value="<%= data?.user?.image %>">
                    <img id="image-preview" class="rounded-circle w-100 h-100 object-fit-cover mb-3" src="<%= data?.user?.image || '../../uploads/blank-profile-pic.jpg' %>" alt="Profile Picture" onclick="document.getElementById('user-image').click();">
                    <span class="edit-btn mdi mdi-pencil bg-gradient-primary rounded-circle fs-5 d-flex justify-content-center align-items-center" onclick="document.getElementById('user-image').click();"></span>
                  </div>
                  <div class="mb-3 row">
                    <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Name" name="name" value="<%= data?.user?.name || '' %>">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" name="email" value="<%= data?.user?.email || '' %>">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="exampleInputRole" placeholder="Role" aria-label="Disabled input example"  value="<%= data?.user?.role?.roleDisplayName || '' %>" disabled readonly>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="exampleInputConfirmPassword2" class="col-sm-2 col-form-label">Member Since</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="exampleInputSimce" placeholder="Member Since" aria-label="Disabled input example" value="<%= data?.user?.createdAt?.length ?  new Date(data.user.createdAt).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", }) : 'Unknown' %>" disabled readonly>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-gradient-primary me-2">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->

    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- scripts -->
  <%- include('../layouts/scripts.ejs') %>
</body>

</html>