<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs') %>

<body>
  <div class="container-scroller">
    <!-- navbar -->
    <%- include('../layouts/navbar.ejs') %>

    <div class="container-fluid page-body-wrapper">
      <!-- Flash message -->
      <%- include('../layouts/flash.ejs') %>

      <!-- sidebar -->
      <%- include('../layouts/sidebar.ejs') %>

      <!-- main-panel starts -->
      <div class="content-wrapper" style="padding: 2.75rem 2.25rem 0;">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-warning text-white me-2">
              <i class="mdi mdi-account-multiple"></i>
            </span> Users
          </h3>
          <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a href="/users-list">Users</a></li>
            </ol>
          </nav> -->
        </div>
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <!-- Search & Add button -->
                <div class="d-flex flex-wrap flex-md-nowrap flex-lg-row justify-content-between align-items-center d-md-block d-lg-flex">
                  <h4 class="card-title">All Users</h4>
                  <div class="d-flex flex-column flex-sm-row">
                    <input type="text" class="form-control me-2 mb-2 mb-md-0" placeholder="Search users">
                    <!-- <button class="btn btn-gradient-primary">Add</button> -->
                  </div>
                </div>
                <hr>
                <div class="users-list-card">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> User </th>
                        <th> Name </th>
                        <th> Email </th>
                        <th> Status </th>
                        <th> Member Since </th>
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let user of data?.usersList || []) { %>
                      <tr>
                        <td class="py-1">
                          <img src="<%= user?.image || '../../uploads/blank-profile-pic.jpg'%>" alt="image">
                        </td>
                        <td> <%= user?.name || '_' %> </td>
                        <td> <%= user?.email || '_' %> </td>
                        <td><%= user?.isActive ? 'Active' : 'Deactive' %></td>
                        <td> <%= user?.createdAt?.length ?  new Date(user.createdAt).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", }) : 'Unknown' %> </td>
                        <td>
                          <a class="btn btn-sm text-light <%= user?.isActive ? 'bg-danger' : 'bg-success' %>" style="width: 100px;" href="/admin/change/user/status/<%= user?._id.toString() %>">
                            <%= user?.isActive ? 'Deactive' : 'Active' %>
                          </a>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->

    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- scripts -->
  <%- include('../layouts/scripts.ejs') %>
</body>

</html>