<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="/" class="nav-link">
        <div class="nav-profile-image">
          <img src="<%= data?.user?.image || '../../uploads/blank-profile-pic.jpg' %>" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2"><%= data?.user?.name || 'Admin'%></span>
          <span class="text-secondary text-small"><%= data?.user?.role?.role || 'Admin'%></span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item <%= data.url ? (data.url == '/' ? 'active' : '') : '' %>">
      <a class="nav-link" href="/">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#cms-pages" aria-expanded="false" aria-controls="cms-pages">
        <span class="menu-title">CMS</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-developer-board menu-icon"></i>
      </a>
      <div class="collapse" id="cms-pages">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/cms/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cms/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#expense-menu" aria-expanded="false" aria-controls="expense-menu">
        <span class="menu-title">Expense</span>
        <i class="menu-arrow"></i>
        <i class="fa fa-inr menu-icon" aria-hidden="true"></i>
      </a>
      <div class="collapse" id="expense-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/expense/categories">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/expense/colors">Colour</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item <%= data.url ? (data.url.includes('/users-list') ? 'active' : '') : '' %>">
      <a class="nav-link" href="/users-list">
        <span class="menu-title">Users</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact-requests">
        <span class="menu-title">Contact Requests</span>
        <i class="fa fa-ticket menu-icon" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>